altgraph==0.10.2
Appium-Python-Client==0.20
bdist-mpkg==0.5.0
bonjour-py==0.3
boto==2.38.0
Django==1.9.2
eyes-selenium==2.14
flake8==2.5.0
funcsigs==0.4
gunicorn==19.4.5
keyring==5.6
macholib==1.5.1
matplotlib==1.3.1
mccabe==0.3.1
mercurial-keyring==0.7.1
mock==1.3.0
modulegraph==0.10.4
numpy==1.8.0rc1
pbr==1.8.1
pep8==1.5.7
ply==3.8
py==1.4.30
py2app==0.7.3
pyflakes==1.0.0
Pygments==2.1
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyOpenSSL==0.13.1
pyparsing==2.0.1
pypng==0.0.18
pytest==2.8.2
python-dateutil==1.5
pytz==2013.7
requests==2.9.1
scipy==0.13.0b1
selenium==2.48.0
six==1.4.1
websocket-client==0.34.0
wheel==0.26.0
xattr==0.6.4
zope.interface==4.1.1
